.App {
  text-align: center;
}

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.Border {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.GiantLogo{
  margin: auto;
  width: 30%;
  height: 20%;
}

.ErrorCard{
  margin: auto;
  width: 60%;
  padding-top: 2%;
}

.Card{
  margin: auto;
  padding-top: 2%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
